<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">

  <test thread-count="5" name=" Chrome Test">
  <parameter name="port" value="4455"></parameter>
    <classes>
      <class name="com.test.SeleniumGrid"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name=" firefox Test">
  <parameter name="port" value="4457"></parameter>
    <classes>
      <class name="com.test.SeleniumGrid"/>
    </classes>
  </test>
</suite> <!-- Suite -->
